@charset "utf-8";
/* CSS Document */
body{
	background:url(../images/background/bg_01.jpg) repeat-y;
	background-size:cover; min-height:580px;
}

#content{
	width:1000px; height:500px; position:fixed; left:50%; top:50%;
	margin:-250px 0 0 -500px;
	-webkit-transition:all linear .3s; -moz-transition:all linear .3s;
	-ms-transition:all linear .3s; -o-transition:all linear .3s;
}
#content #menu{
	width:1020px; height:100%; overflow:hidden; position:absolute; left:0px; top:0px;
}
#content #menu li{
	float:left; width:150px; height:150px; margin:0px 20px 20px 0; overflow:hidden;
}
#content #menu li.long{
	width:320px;
}
#content #menu li a{
	display:block; width:100%; height:100%; color:#fff; font-size:25px; text-indent:20px; line-height:240px;
}
.bg1{
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#365eab), to(#30549a));
	background:-moz-linear-gradient(top, #365eab,#30549a);
}
.bg2{
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#00c4d0), to(#00b0bb));
	background:-moz-linear-gradient(top, #00c4d0,#00b0bb);
}
.bg3{
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#00ce9b), to(#00b98b));
	background:-moz-linear-gradient(top, #00ce9b,#00b98b);
}
.bg4{
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#fa5f19), to(#e64c35));
	background:-moz-linear-gradient(top, #fa5f19,#e64c35);
}
.bg5{
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#9f449b), to(#8d3f8b));
	background:-moz-linear-gradient(top, #9f449b,#8d3f8b);
}
.bg6{
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#8cad43), to(#91ac4d));
	background:-moz-linear-gradient(top, #8cad43,#91ac4d);
}



#content #menu li a.font-pos-1{
	text-indent:0px; text-align:center; line-height:150px;
}
#content #menu li a.font-pos-2{
	text-align:center; text-indent:130px; line-height:150px;
}
#content #menu li a.font-pos-3{
	text-align:center; text-indent:130px; line-height:50px;
}


.loading{
	width:60px; height:60px; position:absolute; left:50%; top:50%;
	margin:-30px 0 0 -30px; display:none;
}
.circle {
	background-color: rgba(0,0,0,0);
	border: 5px solid rgba(0,183,229,0.9);
	opacity: .9;filter:alpha(opacity=90);
	border-right: 5px solid rgba(0,0,0,0);
	border-left: 5px solid rgba(0,0,0,0);
	border-radius: 50px;
	box-shadow: 0 0 35px #2187e7;
	width: 50px;
	height: 50px;
	margin: 0 auto;
	animation: spinPulse 1s infinite ease-in-out;
	-moz-animation: spinPulse 1s infinite ease-in-out;
	-webkit-animation: spinPulse 1s infinite linear;
	-ms-animation: spinPulse 1s infinite linear;
	-o-animation: spinPulse 1s infinite linear;
}
.circle1 {
	background-color: rgba(0,0,0,0);
	border: 5px solid rgba(0,183,229,0.9);
	opacity: .9;filter:alpha(opacity=90);
	border-left: 5px solid rgba(0,0,0,0);
	border-right: 5px solid rgba(0,0,0,0);
	border-radius: 50px;
	box-shadow: 0 0 15px #2187e7;
	width: 30px;
	height: 30px;
	margin: 0 auto;
	position: relative;
	top: -50px;
	animation: spinoffPulse 1s infinite linear;
	-moz-animation: spinoffPulse 1s infinite linear;
	-webkit-animation: spinoffPulse 1s infinite linear;
	-ms-animation: spinoffPulse 1s infinite linear;
	-o-animation: spinoffPulse 1s infinite linear;
}

@keyframes spinPulse {
	0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7; }
	50% { -webkit-transform:rotate(145deg); opacity:1;}
	100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@keyframes spinoffPulse {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}
@-moz-keyframes spinPulse {
	0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7;}
	50% { -moz-transform:rotate(145deg); opacity:1; }
	100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-moz-keyframes spinoffPulse {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg);  }
}
@-webkit-keyframes spinPulse {
	0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7; }
	50% { -webkit-transform:rotate(145deg); opacity:1;}
	100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-webkit-keyframes spinoffPulse {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}
@-ms-keyframes spinPulse {
	0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7; }
	50% { -webkit-transform:rotate(145deg); opacity:1;}
	100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-ms-keyframes spinoffPulse {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}
@-o-keyframes spinPulse {
	0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7; }
	50% { -webkit-transform:rotate(145deg); opacity:1;}
	100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-o-keyframes spinoffPulse {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}
#demo-list{
	width:1000px; height:100%; position:relative; display:none; background-color:rgba(255,255,255,.3);
}
#demo-list .empty{
	width:100%; height:500px; position:absolute; display:none;
	text-align:center; line-height:500px; font-family:30px; display:none; left:0px; top:0px;
}
.demo-list{
	height:100%; overflow:hidden; width:1020px;
}
.demo-list li{
	width:321px; height:230px; float:left; margin:10px 6px; position:relative; overflow:hidden;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f4f4f4));
	background:-moz-linear-gradient(top, #ffffff,#f4f4f4);
}
.demo-list li img{
	width:100%; height:100%;
}
.demo-list li .info{
	width:100%; display:block; height:60px; line-height:20px; font-size:14px; color:#3ac0e6;
	background-color:rgba(0,0,0,0.5); left:0px; bottom:-60px; position:absolute; overflow:hidden;
	-webkit-transition:all linear .2s; -moz-transition:all linear .2s;
	-ms-transition:all linear .2s; -o-transition:all linear .2s;
}
.demo-list li:hover .info{
	bottom:0px;
}
.demo-list li .info h2{
	padding:0; margin:0; font-size:16px;
}
.demo-list li .info span{
	color:#fff;
}
.demo-list li a.download{
	position:absolute; right:1px; top:1px; display:none; height:24px; line-height:24px; font-size:14px; padding:0px 5px;
	background-color:#3ac0e6; color:#fff;display:none !important;}
.demo-list li:hover a.download{
	display:inline-block;
}
.demo-list.diary,.demo-list.mobile{
	width:100%;
}
.demo-list.diary li{
	width:450px; margin:20px 0 0 20px; height:54px; line-height:54px; font-size:17px;
	padding:0px 10px; background:none !important;
	background-color:rgba(0,0,0,.3) !important;
}
.demo-list.diary li:hover{
	border:3px solid rgba(255,255,255,.3); height: 48px; line-height:48px; padding:0px 7px;
	background-color:rgba(255,255,255,.3) !important;
}
.demo-list.diary li a{
	display:inline-block; width:100%; height:100%; color:#28c7a7;
}
.demo-list.diary li:hover a{
	color:#fa5f19;
}
/*.demo-list.mobile li{
	width:174px; height:276px; padding:89px 14px 59px; background:url(../images/mobile/iphone.png) no-repeat;
	margin:38px; background-color:transparent !important;
}
.demo-list.mobile li .info{ display:none;}
.demo-list.mobile li iframe{
	width:174px; height:276px; border:none; background-color:#fff;
}
.demo-list.mobile li a.download{ right:6px; top:34px;}*/
#content.mobile { height:580px;}
.mobile .demo-list li{
	width:320px; height:504px; margin:6px 0px 0px 10px; padding-top:64px;
	background:url(../images/mobile/bg.png) no-repeat;
}
.mobile .demo-list li iframe{
	width:320px; height:504px; border:none; background-color:#fff;
}
.mobile .demo-list li .viewdemo{
	position:absolute; left:1px; top:1px; display:none; height:24px; line-height:24px; font-size:14px; 
	padding:0px 5px; background-color:#3ac0e6; color:#fff;display:none !important;
}
.mobile .demo-list li:hover .viewdemo{ display:inline-block;}
.mobile .demo-list li .viewdemo .qr_code{
	position: absolute; width: 120px; height: 120px; left: 75px; top: 0px; display: none;
}
.mobile .demo-list li .viewdemo:hover .qr_code{
	display:inline-block;
}
.mobile .demo-list li .viewdemo .qr_code img{ width: 100%;}

#demo-list .show-menu{
	display:block; position:absolute; width:43px; height:43px; border-radius:50px; background-color:#fff;
	box-shadow:0 2px 2px 2px rgba(0,0,0,.3); top:-22px; right:-22px; z-index:20;
}
#demo-list .show-menu:before,#demo-list .show-menu:after{
	display:block; width:30px; height:3px; position:absolute; left:7px; top:20px; background-color:#28c7a7;
	content:"";
}
#demo-list .show-menu:before{
	-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);
}
#demo-list .show-menu:after{
	-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);-o-transform:rotate(45deg);
}

#demo-list .prepage,#demo-list .nextpage{
	width:50px; height:100px; position:absolute;text-indent:-999px; overflow:hidden;
	background-color:rgba(40,199,167,.5); top:50%; margin-top:-50px; display:block; opacity:0;
	-webkit-transition:all linear .3s; -moz-transition:all linear .3s;
	-ms-transition:all linear .3s; -o-transition:all linear .3s;
}
#demo-list .prepage{
	left:-50px;
}
#demo-list .nextpage{
	right:-50px;
}
#demo-list:hover .prepage,#demo-list:hover .nextpage{
	 opacity:1;
}
#demo-list .prepage:before,#demo-list .nextpage:before{
	content:""; width:30px; height:30px; position:absolute; border-top:5px solid #fff; border-right:5px solid #fff;
	top:32px;
}
#demo-list .nextpage:before{
	-webkit-transform:rotate(45deg);left:0px; 
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
}
#demo-list .prepage:before{
	-webkit-transform:rotate(-135deg); left:15px;
	-moz-transform:rotate(-135deg);
	-ms-transform:rotate(-135deg);
	-o-transform:rotate(-135deg);
}


#diary{
	width:100%; height:100%; overflow:hidden; display:none; position:absolute; top:0px; left:0px;
	box-sizing:border-box;
}
#diary .diary-content{
	overflow:hidden;
}
#diary iframe{
	width:920px; border:none; background:transparent; height:100%; padding:0px 40px;
}

.audiobox{
	width:45px; position:absolute; top:20px; left:50%; margin-left:520px;
}
#myaudio{ width:45px;}


