@charset "utf-8";
/* CSS Document */

#nav{
	background-color:#f4f4f4 !important;
}
.bg1{
	  background-color: #6cb5ae !important;
}
.bg2{
background-color:#3f6e8a!important;
}
.bg3{
	background-color:#394b79 !important;
}
.bg4{
	background-color: #dd6064 !important;
}
.bg5{
	background-color: #a6c790 !important;
}
.bg6{
	background-color:#ece3aa !important;
}
.bg7{
	background-color: #3c96b9 !important;
}
.bg8{
	background-color: #5d5e7a !important;
}

.demo-list li{
	width:321px; height:230px; float:left; margin:10px 6px; position:relative; overflow:hidden;
	background-color:#f4f4f4 !important;
}










