@charset "utf-8";
/* CSS Document */

#nav{
	background-color:#f4f4f4 !important;
}
.bg1{
	background-color:#30549a !important;
}
.bg2{
	background-color:#00b0bb !important;
}
.bg3{
	background-color:#00ce9b !important;
}
.bg4{
	background-color:#fa5f19 !important;
}
.bg5{
	background-color:#9f449b !important;
}
.bg6{
	background-color:#91ac4d !important;
}

.demo-list li{
	width:321px; height:230px; float:left; margin:10px 6px; position:relative; overflow:hidden;
	background-color:#f4f4f4 !important;
}










