@charset "utf-8";
/* CSS Document */
/* 箭头动画 */
@-webkit-keyframes swip{
	0%{ bottom:0.2rem; opacity:1;}
	50%{  bottom:0.7rem; opacity:.5;}
	100%{  bottom:0.2rem; opacity:1;}
}
@-moz-keyframes swip{
	0%{ bottom:0.2rem; opacity:1;}
	50%{  bottom:0.7rem; opacity:.5;}
	100%{  bottom:0.2rem; opacity:1;}
}
@-ms-keyframes swip{
	0%{ bottom:0.2rem; opacity:1;}
	50%{  bottom:0.7rem; opacity:.5;}
	100%{  bottom:0.2rem; opacity:1;}
}
@-o-keyframes swip{
	0%{ bottom:0.2rem; opacity:1;}
	50%{  bottom:0.7rem; opacity:.5;}
	100%{  bottom:0.2rem; opacity:1;}
}

/*****************/
/* 加载动画 */
@-webkit-keyframes rotate{
	0%{ -webkit-transform:rotate(0deg);}
	100%{ -webkit-transform:rotate(360deg);}
}
@-moz-keyframes rotate{
	0%{ -moz-transform:rotate(0deg);}
	100%{ -moz-transform:rotate(360deg);}
}
@-ms-keyframes rotate{
	0%{ -ms-transform:rotate(0deg);}
	100%{ -ms-transform:rotate(360deg);}
}
@-o-keyframes rotate{
	0%{ -o-transform:rotate(0deg);}
	100%{ -o-transform:rotate(360deg);}
}