@CHARSET "UTF-8";
html,body{
	overflow:hidden; width:100%; height:100%;
}
body, div {
    margin: 0;
    padding: 0;
}
body{
}
a, button, input, div {
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);	/* hidden tap a tag background and outline */
}

a:active {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* hidden tap a tag background and outline */
}
/*  swipe 设置 */
.swiper-container {
    position: absolute;
    height: 100%;
    width: 100%;
}

.swiper-container .swiper-wrapper {
	background-color:#01293d; overflow:hidden;
}

.swiper-container .swiper-wrapper .swiper-slide {
    position: relative; overflow:hidden;
}

.swiper-container .swiper-wrapper .swiper-slide .slide-content {
    width:16rem; height:100%; overflow:hidden; margin:0 auto;
	background-size:cover; background-repeat:no-repeat; background-position:center center;
}
.slide-box{
	position:absolute; width:16rem; top:0px; left:50%; margin-left:-8rem; overflow:hidden;
	height:100%;
}
/* 公用动画初始设置 */

.animation1{
	-webkit-animation-duration: 0.8s;/*动画持续时间*/
	-webkit-animation-timing-function: ease-in-out; /*动画频率，和transition-timing-function是一样的*/
	-webkit-animation-delay: 0s;/*动画延迟时间*/
	-webkit-animation-iteration-count: 1;/*定义循环资料，infinite为无限次*/
	-webkit-animation-direction: normal;/*定义动画方式animation-fill-mode*/
	-webkit-animation-fill-mode: forwards;
}
.animation{
	-webkit-transition:all .8s ease-in-out; -moz-transition:all .8s ease-in-out;
	-ms-transition:all .8s ease-in-out; -o-transition:all .8s ease-in-out;
}


/* 箭头 */
.arrow{
	background: url(/pc1.gtimg.com/tdf/images/arrow.png) no-repeat;
    height: 1.5rem;width: 1.5rem;bottom:0.2rem;left: 50%;
    margin-left: -0.75rem;
    position: absolute; background-size:cover; background-position:50% 50%;
	-webkit-animation: swip 1s infinite;
	-ms-animation: swip  1s infinite;
	-o-animation: swip  1s infinite;
	-moz-animation: swip  1s infinite;
}

/* 加载动画 */
.loading{
	position:absolute; width:100%; height:100%; background-color:#01293d; top:0; left:0; z-index:10001;
}
.loadingbox{
	width:164px; height:60px; position:absolute; left:50%; top:50%; margin:-30px 0 0 -82px;
}
.loading-text{
	width:100%; position:absolute; overflow:hidden; left:0; top:50%; margin-top:30px;
}
.loading-text img{ width:100%;}
.loading-img{
	-webkit-animation: rotate 1s infinite;
	-ms-animation: rotate 1s infinite;
	-o-animation: rotate 1s infinite;
	-moz-animation: rotate 1s infinite;
	width:60px; height:60px; margin:0px auto;
}

.text{
	width:100%; position:absolute; opacity:0;
	background-size:cover; background-repeat:no-repeat;
}
.text.action{
	left:0% ; opacity:1;
}
.cursor{
	width:1.25rem; height:1.55rem; position:absolute;
	background:url(../images/cursor.png) no-repeat;
	background-size:cover;
}
/***********/
/* slide 1 */
/***********/
.slide1{
	background-color:#01293d;
}
.text1{
	height:1.7rem; background-image:url(../images/1_1.png);
	top:11.25rem; left:0%; width:0rem; background-size:cover; position:absolute;
}
.text2{
	height:1.425rem; background-image:url(../images/1_2.png);
	top:15.6rem; opacity:0; left:0%;
}
.text2.action{
	top:13.6rem;
}
.slide1 .cursor{
	left:1.2rem; top:11.25rem;
}

/***********/
/* slide 2 */
/***********/
.slide2{
	background-image:url(../images/2.jpg);
}
.text3{
	height:2.225rem; background-image:url(../images/2_1.png);
	bottom:5.8rem; left:20%;
}
.text4{
	height:2.225rem; background-image:url(../images/2_2.png);
	bottom:3.55rem; left:-20%;
}
/***********/
/* slide 3 */
/***********/
.slide3{
	background-image:url(../images/3.jpg);
}
.text5{
	height:2.025rem; background-image:url(../images/3_1.png);
	top:2.825rem; left:20%;
}
.text6{
	height:2.275rem; background-image:url(../images/3_2.png);
	top:4.85rem; left:-20%;
}
/***********/
/* slide 4 */
/***********/
.slide4{
	background-image:url(../images/4.jpg);
}
.text7{
	height:2.25rem; background-image:url(../images/4_1.png);
	bottom:6.95rem; left:-30%;
}
.text8{
	height:2.25rem; background-image:url(../images/4_2.png);
	bottom:4.7rem; left:-30%;
}
.text9{
	height:2.25rem; background-image:url(../images/4_3.png);
	bottom:2.45rem; left:-30%;
}
/***********/
/* slide 5 */
/***********/
.slide5{
	background-image:url(../images/5.jpg);
}
.text10{
	height:2.25rem; background-image:url(../images/5_1.png);
	top:12.5rem; left:50%;
}
.text11{
	height:2.25rem; background-image:url(../images/5_2.png);
	top:14.75rem; left:50%;
}
.text12{
	height:2.25rem; background-image:url(../images/5_3.png);
	top:17rem; left:50%;
}
/***********/
/* slide 6 */
/***********/
.slide6{
	background-image:url(../images/6.jpg);
}
.text13{
	height:2.25rem; background-image:url(../images/6_1.png);
	top:3.1rem; left:20%;
}
.text14{
	height:2.25rem; background-image:url(../images/6_2.png);
	top:5.35rem; left:-20%;
}
.text15{
	height:2.25rem; background-image:url(../images/6_3.png);
	top:7.6rem; left:20%;
}

/***********/
/* slide 7 */
/***********/
.slide7{
	background-image:url(../images/7.jpg);
}
.text16{
	height:2.25rem; background-image:url(../images/7_1.png);
	top:14rem; left:30%;
}
.text17{
	height:2.25rem; background-image:url(../images/7_2.png);
	top:16.25rem; left:30%;
}


/***********/
/* slide 8 */
/***********/
.slide8{
	background-color:#01293d;
}
.text18{
	height:2.25rem; background-image:url(../images/8_1.png);
	top:0.5rem; left:0%; position:absolute; background-repeat:no-repeat;
	background-size:cover; width:100%;
}
.pic{
	position:absolute;
	-webkit-transition:all ease-in-out .8s; -moz-transition:all ease-in-out .8s;
	-ms-transition:all ease-in-out .8s; -o-transition:all ease-in-out .8s;
	background-repeat:no-repeat; background-size:cover;
}
.pic1{
	width:7.55rem; height:10.95rem; margin:-5.475rem 0 0 -3.775rem;
	background-image:url(../images/8_2.png); left:-3.775rem; top:50%;
}
.pic2{
	width:7.125rem; height:10.8rem; margin:-5.4rem 0 0 -3.5625rem;
	background-image:url(../images/8_3.png); left:19.5625rem; top:50%;
}
.pic3{
	width:7.625rem; height:11.1rem; margin:-5.55rem 0 0 -3.8125rem;
	background-image:url(../images/8_5.png); left:-3.8125rem; top:50%;
}
.pic4{
	width:7.2rem; height:10.45rem; margin:-5.225rem 0 0 -3.6rem;
	background-image:url(../images/8_4.png); left:19.6rem; top:50%;
}
.pic1.action{
	left:4.55rem; top:9.65rem;
	-webkit-transform:rotate(-30deg); -moz-transform:rotate(-30deg);
	-ms-transform:rotate(-30deg); -o-transform:rotate(-30deg);
}
.center{ left:50%; top:50%;}
.pic2.action{
	left:11.6rem; top:9.25rem; 
	-webkit-transform:rotate(5deg); -moz-transform:rotate(5deg);
	-ms-transform:rotate(5deg); -o-transform:rotate(5deg);
}
.pic3.action{
	left:5rem; top:18rem; 
	-webkit-transform:rotate(-2deg); -moz-transform:rotate(-2deg);
	-ms-transform:rotate(-2deg); -o-transform:rotate(-2deg);
}
.pic4.action{
	left:10.7rem; top:16.95rem; 
	-webkit-transform:rotate(-35deg); -moz-transform:rotate(-35deg);
	-ms-transform:rotate(-35deg); -o-transform:rotate(-35deg);
}
/***********/
/* slide 9 */
/***********/
.slide9{
	background-color:#01293d;
}
.text19{
	height:1.5rem; background-image:url(../images/9_1.png);
	top:11.7rem; left:0%; position:absolute; background-repeat:no-repeat;
	background-size:cover; width:100%;
}
.text20{
	height:1.7rem; background-image:url(../images/9_2.png);
	top:13.45rem; left:0%; width:0rem; background-size:cover; position:absolute;
}
.slide9 .cursor{
	left:1.5rem; top:13.45rem;
}
/************/
/* slide 10 */
/************/
.slide10{
	/*background-image:url(../images/10.png);*/ background-color:#01293d;
}
.text21_1{
	height:100%; width:100%; position:absolute; top:-1rem; left:0;
	background:url(../images/10.png) no-repeat; background-size:cover;
}
.text21{
	height:7.55rem; position:absolute; width:100%; left:0; bottom:-2rem;
	background:url(../images/10_1.png) no-repeat; background-size:cover;
}
/************/
/* slide 11 */
/************/
.slide11{
	background-color:#01293d;
}
.text22{
	height:6.8rem; position:absolute; width:100%; left:0; top:4.5rem;
	background:url(../images/11_2.png) no-repeat; background-size:cover;
}
.text22 a{
	display:block; width:100%;
}
.text22 a.app{
	height:2.35rem; margin-top:2rem;
}
.text22 a.wap{
	height:2.425rem; display:none;
}
.text23{
	height:2.4rem; position:absolute; width:100%; left:0; top:10.9rem;
	background:url(../images/11_3.png) no-repeat; background-size:cover;
}
.text24{
	height:4.675rem; position:absolute; width:100%; left:0; bottom:2.55rem;
	background:url(../images/11_4.png) no-repeat; background-size:cover;
}
.lastpage-btn{
	display:block; width:14rem; overflow:hidden; position:absolute; left:50%;
	top:0.625rem; margin-left:-7rem; background-color:#192c44; border:1px solid #141414;
	border-radius:5px; box-shadow:0 4px 0px rgba(0,0,0,.35);
	background-image:url(../images/11_1.png); background-repeat:no-repeat;
	background-size:cover; height:2.9rem;
}
.lastpage-btn:active{
	border:1px solid #fff; box-shadow:0 0px 4px rgba(255,255,255,.85);
}
.phonecall{
	width:8.75rem; height:1.3rem; position:absolute; left:50%; bottom:0.7rem;
	/*background-size:cover; background-repeat:no-repeat;*/ margin-left:-4.375rem;
	/*background-image:url(../images/11_5.png); */display:block;
}
.phonecall img{ width:100%;}








